<!DOCTYPE html>
<html ng-app="appTravel">
<head>
	<meta charset="utf-8">
	<title>乐有方</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--Public-->
    <script src="js/Common/zepto.js"></script>
    <script src="conf/conf.js"></script>
    <script src="js/Common/main.js"></script>
    <script src="js/Common/angular.min.js"></script>
    <script src="js/Server/ClientServer.js"></script>
    <!--angularjs-->
    <script src="js/Controller/TravelListController.js"></script>

	<!-- Roboto -->
	<link rel="stylesheet" href="css/common/ratchet.min.css">
	<link rel="stylesheet" href="css/common/app.css">
	<script src="js/common/ratchet.min.js"></script>
	<script src="js/common/zepto.js"> </script>
	<script src="js/common/comm.js"> </script>

</head>
<body ng-controller="TravelListController">
	<header class="bar bar-nav orange head">
		<a class="pull-left tab" href="plane_chooze.html">深圳</a>
		<a class="icon pull-right" href="#myPopover"><img src="images/phoneicon.png"></a>
		<h1><input type="search" placeholder="旅游目的地搜多"></h1>
	</header>
	<div class="content grey" id="main_box">
		<section class="pad10 border_bottom white">
			<div class="dest clearfix">
                    <a href="travel_chooze.html"  ng-repeat="v in hotCity.lists[0]">{{v.cityname}}</a>
			</div>
			<a class="more_cw" href="travel_chooze.html">查看所有产品<span class="icon icon-right-nav"></span></a>
		</section>
		<section>
			<div class="segmented-control traveltab">
				<a class="control-item active" href="#item1mobile">周边旅游</a>
				<a class="control-item" href="#item2mobile">国内旅游</a>
				<a class="control-item" href="#item3mobile">出境旅游</a>
			</div>
			<div class="card travel_list">
				<div id="item1mobile" class="control-content active">
					<ul class="table-view">
						<li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
							<a class="navigate-right nopa" href="#"  ng-click="goToDetal('travel' , v.packageid , 'travelDetal');">
                                <img class="media-object pull-left" src="{{v.image_url}}">
								<div class="media-body">
									<h4>{{v.packagename}}</h4>
									<h6><em>{{v.today_price*12}}</em>起</h6>
									<p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
								</div>
							</a> 
						</li>
					</ul>
				</div>
				<div id="item2mobile" class="control-content">
					<ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
                            <a class="navigate-right nopa" href="travelCon.html">
                                <img class="media-object pull-left" src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>{{v.today_price*12}}</em>起</h6>
                                    <p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
                                </div>
                            </a>
                        </li>

					</ul>
				</div>
				<div id="item3mobile" class="control-content">
					<ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
                            <a class="navigate-right nopa" href="travelCon.html">
                                <img class="media-object pull-left" src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>{{v.today_price*12}}</em>起</h6>
                                    <p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
                                </div>
                            </a>
                        </li>

					</ul>
				</div>
			</div>
		</section>

	</div>
	<div id="myPopover" class="popover botphone">
		<img src="images/logo.jpg" class="logo">
		<h4>24小时客服电话</h4>
		<p>400-888-3658（免长途费）</p>
		<button class="btn btn-orange btn-block">电话咨询</button>
		<button class="btn btn-grey btn-block">取消</button>
	</div>
</body>

</html>
