<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>乐有方</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--Public-->
    <script src="js/Common/require.js" data-main="js/Main/Travel/Main"></script>
    <!-- Roboto -->
	<link rel="stylesheet" href="css/common/ratchet.min.css">
	<link rel="stylesheet" href="css/common/app.css">
    <base href="http://192.168.1.88/static/letyoufunDev/js"/>
</head>
<body ng-controller="TravelController">
<script type="text/ng-template" id="travel.html">
    <header class="bar bar-nav orange head">
        <a class="pull-left tab" href="" ng-click="changeTpl('travelChoose.html');">{{curCity}}</a>
        <a class="icon pull-right" href="#myPopover"><img src="images/phoneicon.png"></a>
        <h1><input type="search" placeholder="旅游目的地搜索" ng-model="curCity"></h1>
    </header>
    <div class="content grey" id="main_box">
        <section class="pad10 border_bottom white">
            <div class="dest clearfix">
                <a href="travel_chooze.html"  ng-repeat="v in hotCity.lists[0]">{{v.cityname}}</a>
                <a href="travel_chooze.html"  ng-repeat="v in hotCity.lists[1]">{{v.cityname}}</a>
            </div>
            <a class="more_cw" href="travel_chooze.html">查看所有产品<span class="icon icon-right-nav"></span></a>
        </section>
        <section>
            <div class="segmented-control traveltab">
                <a class="control-item active" href="#item1mobile">周边旅游</a>
                <a class="control-item" href="#item2mobile">国内旅游</a>
                <a class="control-item" href="#item3mobile">出境旅游</a>
            </div>
            <div class="card travel_list">
                <div id="item1mobile" class="control-content active">
                    <ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
                            <a class="navigate-right nopa" href="#"  ng-click="showDetal(v.packageid);">
                                <img class="media-object pull-left" src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>{{v.today_price*12}}</em>起</h6>
                                    <p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="item2mobile" class="control-content">
                    <ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
                            <a class="navigate-right nopa" href="#" ng-click="showDetal(v.packageid)">
                                <img class="media-object pull-left" src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>{{v.today_price*12}}</em>起</h6>
                                    <p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                <div id="item3mobile" class="control-content">
                    <ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in zhoubian.lists">
                            <a class="navigate-right nopa" href="#" ng-click="showDetal(v.packageid)">
                                <img class="media-object pull-left" src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>{{v.today_price*12}}</em>起</h6>
                                    <p><span>月供<em>{{v.today_price}}</em></span><span>分<em>12</em>期</span></p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

    </div>
    <div id="myPopover" class="popover botphone">
        <img src="images/logo.jpg" class="logo">
        <h4>24小时客服电话</h4>
        <p>400-888-3658（免长途费）</p>
        <button class="btn btn-orange btn-block">电话咨询</button>
        <button class="btn btn-grey btn-block">取消</button>
    </div>
</script>
<script type="text/ng-template" id="travelChoose.html">
    <header class="bar bar-nav orange">
        <a class="icon icon-left-nav pull-left" ng-click="goToLastTpl();"></a>
        <h1 class="title">选择城市</h1>
    </header>
    <header class="bar bar-nav grey searchcity">
        <input type="search" placeholder="输入城市名(如深圳\SZ、shenzhen)">
    </header>
    <div class="content pad90 grey" id="main_box">
        <!--<section>-->
        <!--<h3 class="citytit">当前城市</h3>-->
        <!--<div class="citychooze clearfix">-->
        <!--<span class="on" ng-if="place.city == '全国'">暂时无法获取您的位置，请选择!</span>-->
        <!--<a class="on" ng-hide="place.city == '全国'">{{place.city}}</a>-->
        <!--</div>-->
        <!--</section>-->
        <section>
            <h3 class="citytit">常用城市</h3>
            <div class="citychooze clearfix">
                <a class="on">深圳</a><a>上海</a>
            </div>
        </section>
        <section>
            <h3 class="citytit">热门城市</h3>
            <div class="citychooze clearfix">
                <a href="#" ng-repeat="v in hotCity.lists[0]" ng-click="updateCity(v.cityname);">{{v.cityname}}</a>
                <a href="#" ng-repeat="v in hotCity.lists[1]" ng-click="updateCity(v.cityname);">{{v.cityname}}</a>
            </div>
        </section>
        <aside>
            <section>
                <h3 class="citytit">快速定位</h3>
                <div class="citychooze clearfix">
                    <a href="#A">A</a>
                    <a href="#B">B</a>
                    <a href="#C">C</a>
                    <a href="#D">D</a>
                    <a href="#E">E</a>
                    <a href="#F">F</a>
                    <a href="#G">G</a>
                    <a href="#H">H</a>
                    <a href="#I">I</a>
                    <a href="#J">J</a>
                    <a href="#K">K</a>
                    <a href="#L">L</a>
                    <a href="#M">M</a>
                    <a href="#N">N</a>
                    <a href="#O">O</a>
                    <a href="#P">P</a>
                    <a href="#Q">Q</a>
                    <a href="#R">R</a>
                    <a href="#S">S</a>
                    <a href="#T">T</a>
                    <a href="#U">U</a>
                    <a href="#V">V</a>
                    <a href="#W">W</a>
                    <a href="#X">X</a>
                    <a href="#Y">Y</a>
                    <a href="#Z">Z</a>
                </div>
            </section>
            <section>
                <h3 class="citytit">A</h3>
                <div class="citychooze2" name="A" id="A">
                    <a href="#">安康</a><a href="#">安顺</a>
                </div>
                <h3 class="citytit" name="C" id="B">B</h3>
                <div class="citychooze2">
                    <a href="#">包头</a><a href="#">北京</a><a href="#">北海</a>
                </div>
                <h3 class="citytit" name="C" id="C">C</h3>
                <div class="citychooze2">
                    <a href="#">长春</a><a href="#">长沙</a><a href="#">长白山</a><a href="#">常德</a><a href="#">成都</a><a href="#">重庆</a><a href="#">长治</a><a href="#">常州</a>
                </div>
            </section>
        </aside>
    </div>
</script >
<script type="text/ng-template" id="travelCon.html">
    <header class="bar bar-nav orange">
        <a class="icon icon-left-nav pull-left" ng-click="changeTpl('travel.html');"></a>
        <h1 class="title">产品详情</h1>
    </header>
    <div class="content pad50 grey" id="main_box">
        <section>
            <div class="intro_tra white">
                <div class="addWrap">
                    <div class="swipe" id="mySwipe">
                        <div class="swipe-wrap">
                        </div>
                    </div>
                    <ul id="position">
                        <li class="cur"></li>
                        <li class=""></li>
                        <li class=""></li>
                    </ul>
                </div>
                <!--<img ng-src="#" class="w100">-->
                <!--<img src="images/tra_con.jpg" class="w100">-->
                <h3>{{travelDetal.li.productname}}</h3>
                <p ng-if="travelDetal.li.today_price == null"><span>暂无报价</span></p>
                <p ng-hide="travelDetal.li.today_price == null"><span>乐有方价： ￥{{travelDetal.li.today_price}}起</span><i> 乐有方价：<em> ￥{{travelDetal.li.today_price}}</em>起</i></p>
            </div>
        </section>
        <section>
            <ul class="table-view">
                <li class="table-view-cell">
                    <a class="navigate-right" id="demo" href="#" ng-click="changeTpl('travelCalendar.html');">
                        <h3 class="tra_con_tit tuan">查看和选择团期</h3>
                        <p>07-18，07-19，07-20，07-21，07-22，07-23…</p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="tra_intro pad10 white">
            <h3 class="tra_con_tit chan">产品介绍</h3>
            <div class="tra_block">

            </div>
            <section>
                <div class="anpai">
                    <h3 class="tra_con_tit anp">行程安排</h3>
                    <div class="an_main">
                        <dl ng-repeat="v in travelDetal.li.trips.trip">
                            <dt>
                                <span></span>
                            </dt>
                            <dd>
                                <h3>第{{v.tripDay}}天</h3>
                                <p>标题：{{v.tripTitle}}</p>
                                <p>用餐： {{v.breakfast}}</p>
                                <p>住宿： {{v.tripStay}}</p>
                                <p>交通： {{v.tripType}}</p>
                                <p>{{v.tripInfo}}</p>
                            </dd>
                        </dl>
                        <div ng-if="travelDetal.li.trips == null">暂无详细信息</div>
                    </div>
                    <p class="show trahasmo"><span class="icon icon-down-nav"></span><span class="icon icon-up-nav"></span></p>
                </div>
            </section>
            <section>
                <ul class="table-view">
                    <li class="table-view-cell">
                        <a class="navigate-right" href="travel_xz.html">
                            <h3 class="tra_con_tit fei">费用说明和预订须知</h3>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="bar bar-standard bar-footer yud">
            <span class="icon icon-star" ></span>
            <a href="#" ng-click="changeTpl('travelOrder1.html');"></a>
        </div>
</script>

<!--查看和选择团期 -->
<script type="text/ng-template" id="travelCalendar.html">
    <header class="bar bar-nav orange" ng-click="changeTpl('travel.html');">
        <a class="icon icon-left-nav pull-left"></a>
        <h1 class="title">选择团期</h1>
    </header>
    <div class="content pad50 pad10" id="main_box">
        <div class="chu_people">
            <div class="chooze_num clearfix">
                <h3>出游人</h3>
                <div class="num_add">
                    <span class="jian">-</span>
                    <span class="num">1</span>
                    <span class="jia">+</span>
                </div>
                <div class="num_money">成人<span>￥1986</span></div>
            </div>
            <p class="tra_txt"><span class="icon icon-info"></span>订单价格以确定出游方案为准。</p>
        </div>
        <p id="demo"></p>

        <div class="tra_bot">
            <dl>
                <dt>
                <p>2成人</p>
                <p>已选团期：2015-09-01</p>
                </dt>
                <dd>
                    <a href="#" class="btn btn-orange" ng-click="changeTpl('travelOrder1.html');">下一步：确认优惠信息</a>
                </dd>
            </dl>
        </div>
    </div>
</script>

<!--订单1-->
<script type="text/ng-template" id="travelOrder1.html">
    <header class="bar bar-nav orange">
        <a class="icon icon-left-nav pull-left" ng-click="goToLastTpl();"></a>

        <h1 class="title">订单填写</h1>
    </header>
    <div class="content pad50 grey" id="main_box">
        <div class="hotel_order">
            <h3>大理-昆明-丽江双飞6日游4晚挂五，1晚温泉，带你走进最美的城市</h3>
            <p>出发日期: 2015-07-21</p>
            <h5>出游人数: 2成人</h5>
            <p>产品编号: 10846654</p>
            <h5><span>费用：<em class="color">￥542</em></span></h5>
            <h5><span>订单价格:：<em class="color">分10期</em></span><span>月供：<em class="color">￥54</em></span></h5>
        </div>
        <section>
            <div class="pla_or_main">
                <h3 class="pla_or_tit">游客信息</h3>
                <div class="ck_con">
                    <dl class="ck_infor">
                        <dt></dt>
                        <dd>
                            <form class="input-group">
                                <div class="input-row">
                                    <label>成人票</label>
                                    <input type="text" placeholder="姓名">
                                </div>
                                <div class="input-row">
                                    <label>身份证</label>
                                    <input type="email" placeholder="必填">
                                </div>
                            </form>
                        </dd>
                    </dl>
                </div>
                <p class="addxck">添加新游客</p>
            </div>
            <div class="pla_or_main">
                <h3 class="pla_or_tit">联系人信息</h3>
                <dl>
                    <dt></dt>
                    <dd>
                        <form class="input-group">
                            <div class="input-row">
                                <label>姓名</label>
                                <input type="text" placeholder="必填">
                            </div>
                            <div class="input-row">
                                <label>联系电话</label>
                                <input type="email" placeholder="必填">
                            </div>
                        </form>
                    </dd>
                </dl>
            </div>
        </section>
    </div>
    <div class="plane_total clearfix">
        <div class="pull-left">
            <p><em>总额<span>￥340</span></em><em><span>1</span>成人</em></p>
            <p><em>分<span>10期</span></em><em>月供<span>￥30</span></em></p>
        </div>
        <div class="pull-right">
            <span class="feiy">费用明细</span>
            <a href="#" class="btn btn-orange" ng-click="changeTpl('travelOrder2.html');">下一步</a>
        </div>
    </div>
    <div class="mask"></div>
    <div class="plane_pri">
        <p class="hk_infor">7月21日，周二出发</p>
        <div class="pri_infor">
            <p class="clearfix"><span>成人价：</span><em>￥290×1</em></p>
        </div>
    </div>
</script>

<!--订单2-->
<script type="text/ng-template" id="travelOrder2.html">
    <header class="bar bar-nav orange">
        <a class="icon icon-left-nav pull-left" ng-click="goToLastTpl();"></a>

        <h1 class="title">订单填写</h1>
    </header>
    <div class="content pad50 grey" id="main_box">
        <div class="hotel_order">
            <h3>大理-昆明-丽江双飞6日游4晚挂五，1晚温泉，带你走进最美的城市</h3>
            <p>出发日期: 2015-07-21</p>
            <h5>出游人数: 2成人</h5>
            <p>产品编号: 10846654</p>
            <h5><span>费用：<em class="color">￥542</em></span></h5>
            <h5><span>订单价格:：<em class="color">分10期</em></span><span>月供：<em class="color">￥54</em></span></h5>
        </div>
        <section>
            <div class="index_box plane_order2">
                <h3>订单信息</h3>
                <ul class="table-view">
                    <li class="table-view-cell"><span>订单状态</span><em class="color">未付款</em></li>
                    <li class="table-view-cell"><span>订单编号</span><em>2130981098</em></li>
                    <li class="table-view-cell">
                        <p><span>应付金额</span><em class="color">￥340</em></p>
                        <p><span>分<em class="color">10</em>期</span><span>月供<em class="color">￥30</em></span></p>
                    </li>
                    <li class="table-view-cell"><span>下单时间</span><em>2015-07-18</em></li>
                    <li class="table-view-cell"><span>出发时间</span><em>2015-07-18 14:33</em></li>
                </ul>
            </div>
            <div class="index_box plane_order2">
                <h3>游客信息</h3>
                <ul class="table-view">
                    <li class="table-view-cell"><span>游客姓名</span><em class="color">张三</em></li>
                    <li class="table-view-cell"><span>身份证号</span><em>213891277198893981</em></li>
                </ul>
            </div>
            <div class="index_box plane_order2">
                <h3>联系人信息</h3>
                <ul class="table-view">
                    <li class="table-view-cell"><span>联系人姓名</span><em class="color">张三</em></li>
                    <li class="table-view-cell"><span>手机号码</span><em>1231313123</em></li>
                </ul>
            </div>
        </section>
        <div class="pla_pay_btn">
            <a href="pay.html" class="btn btn-block btn-orange">立即支付</a>
        </div>
    </div>
</script>
<div class="Main" ng-include="tplName" lyf-run></div>
</body>

</html>
