<!DOCTYPE html>
<html ng-app="appUserCenter">
<head>
    <meta charset="utf-8">
    <title>乐有方</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--Public-->
    <script src="conf/conf.js"></script>
    <script src="js/Common/main.js"></script>
    <script src="js/Common/angular.min.js"></script>
    <script src="js/Server/ClientServer.js"></script>
    <script src="js/Common/zepto.js"></script>
    <!--angularjs-->
    <script src="js/Controller/User/UserCenterController.js"></script>
    <!-- Roboto -->
    <link rel="stylesheet" href="css/common/ratchet.min.css">
    <link rel="stylesheet" href="css/common/comm.css">
    <link rel="stylesheet" href="css/user.css">
</head>
<body class="grey" ng-controller="UserCenterController">

<script type="text/ng-template" id="userCenter.html">
    <div class="content grey" id="main_box">
        <div class="user_m_top">
            <header class="bar-tab">
                <span class="icon icon-gear pull-left"></span>
                <span class="icon pull-right email"></span>

                <h1 class="title">我的乐有方</h1>
            </header>
            <div class="user_xq">
                <span ng-show="userInfo.user_status == 1"><img class="ren r_span" ng-src="./images/user/rz_icon.png"
                                                               alt=""/></span>
                <span ng-show="userInfo.user_status != 1"><img class="ren r_span" ng-src="./images/user/rz_icon2.png"
                                                               alt=""/></span>

                <dl class="tou_infor">
                    <dt><a href="userinfor.html"><img src="images/user/tou.png"></a></dt>
                    <dd>
                        <!--登陆显示-->
                        <a href="userinfor.html">
                            <div class="zhuc">
                                <p class="num">{{userInfo.user_login}}</p>

                                <p ng-show="userInfo.user_status == 1">认证会员</p>

                                <p ng-show="userInfo.user_status != 1">待 认证</p>
                            </div>
                        </a>
                        <!--未登录-->
                        <div class="lorr">
                            <a class="lorrbtn" href="#">登录或注册</a>
                        </div>
                    </dd>
                </dl>
                </a>
            </div>
        </div>
        <nav class="bar-standard dai_link">
            <div class="segmented-control">
                <a class="control-item daiz" href="usermyorder.html"><span></span>待支付</a>
                <a class="control-item daih" href="userzhang.html"><span></span>待还款</a>
                <a class="control-item dair ren" href="#" ng-show="userInfo.user_status == 1"><span></span>已认证</a>
                <a class="control-item dair" href="userrz1.html"
                   ng-show="userInfo.user_status != 1"><span></span>待认证</a>
            </div>
        </nav>
        <ul class="table-view usersafe userinCon user_list">
            <li class="table-view-cell ding">
                <a class="navigate-right" href="usermyorder.html">
                    <span class="pull-left icon_left"></span>
                    <em class="pull-right">{{userOrder.order_list_count}}</em>
                    全部订单
                </a>
            </li>
            <li class="table-view-cell shou">
                <a class="navigate-right" href="userxin.html">
                    <span class="pull-left icon_left"></span>
                    <em class="pull-right">￥{{(userWallet.customer.credit_limit)}}</em>
                    授信额
                </a>
            </li>
            <li class="table-view-cell zhi">
                <a class="navigate-right" href="userzhi.html">
                    <span class="pull-left icon_left"></span>
                    <em class="pull-right">￥{{userWallet.customer.cash}}</em>
                    个人充值
                </a>
            </li>
            <li class="table-view-cell quan">
                <a class="navigate-right" href="#" ng-click="changeTpl('userQuan.html');">
                    <span class="pull-left icon_left"></span>
                    <em class="pull-right">{{userWallet.count[1]}}张</em>
                    优惠券
                </a>
            </li>
            <li class="table-view-cell zhang">
                <a class="navigate-right" href="userzhang.html">
                    <span class="pull-left icon_left"></span>
                    <em class="pull-right">{{userBill.current_bill_list_count}}</em>
                    个人账单
                </a>
            </li>
            <li class="table-view-cell zi">
                <a class="navigate-right" href="userinfor.html">
                    <span class="pull-left icon_left"></span>
                    个人资料
                </a>
            </li>
            <li class="table-view-cell an">
                <a class="navigate-right" href="usersafe.html">
                    <span class="pull-left icon_left"></span>
                    安全中心
                </a>
            </li>
            <li class="table-view-cell ke">
                <a class="navigate-right">
                    <span class="pull-left icon_left"></span>
                    客服
                    <em class="pull-right table_num">400-820-8820</em>

                </a>
            </li>
        </ul>
    </div>
    <!--底部-->
    <nav class="bar bar-tab sfoot">
        <a class="tab-item" href="index.html">
            <span class="icon"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item" href="userdai.html">
            <span class="icon"></span>
            <span class="tab-label">借款</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon"></span>
            <span class="tab-label">收藏</span>
        </a>
        <a class="tab-item active" href="user.html">
            <span class="icon"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
</script>

<script type="text/ng-template" id="userQuan.html">
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" ng-click="goToLastTp();"></a>

        <h1 class="title">优惠券</h1>
    </header>
    <div class="content pad50" id="main_box">
        <div class="segmented-control quantit">
            <a class="control-item active" href="#item1mobile">
                优惠活动
            </a>
            <a class="control-item" href="#item2mobile">
                已过期
            </a>
        </div>
        <div class="card userquan">
            <div id="item1mobile" class="control-content active">
                <div class="quan clearfix">
                    <div style="padding:10px;" ng-if="userWallet.count[1] == 0"><font color="gray">暂无优惠券</font></div>
                    <div class="quanbox" ng-repeat="v in userWallet.coupon_tickets">
                        <dl class="quan_top">
                            <dt>
                                <span>￥</span>{{v.par_value}}
                            </dt>
                            <dd>优惠券</dd>
                        </dl>
                        <div class="quanbot">
                            <h5>消费满{{v.limit_value}}元可使用本券（仅限{{v.product_names}}）</h5>
                            <p>使用期限：{{v.expire_time}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            <!--已过期-->
            <div id="item2mobile" class="control-content">
                <div style="padding:10px;" ng-if="userWallet.count[3] == 0"><font color="gray">暂无优惠券</font></div>
                <div class="quanbox" ng-repeat="v in userWallet.coupon_tickets" ng-if="v.status_id == 3">
                    <dl class="quan_top">
                        <dt>
                            <span>￥</span>{{v.par_value}}
                        </dt>
                        <dd>优惠券</dd>
                    </dl>
                    <div class="quanbot">
                        <h5>消费满{{v.limit_value}}元可使用本券（仅限{{v.product_names}}）</h5>
                        <p>使用期限：{{v.expire_time}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<div ng-include="tplName"></div>
</body>

</html>
