<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>乐有方</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Roboto -->
  <link rel="stylesheet" href="../../css/common/ratchet.min.css">
  <link rel="stylesheet" href="../../css/common/app.css">
  <link rel="stylesheet" href="css/mobiscroll.custom-2.16.0.min.css" type="text/css" />
 
 <script src="../Common/zepto.js"></script>
 <script src="../Common/comm.js"></script>
 <script src="../Common/main.js"></script>
 <script>
  $(function(){
  	$(".left_chooze li").tap(function(){
  		$(this).addClass('on').siblings().removeClass('on');
  		$(".ho_se_right .ho_list").eq($(this).index()).addClass('on').siblings("ul").removeClass('on');
  	});
  	$.tap(".ho_list li");

    $(".reset").tap(function(){
      $(".ho_list li").removeClass("on");
      $(".ho_list").each(function(){
        $(this).find("li").eq(0).addClass("on");
      });
    });
  });
 </script>
</head>
<body class="grey">
 <header class="bar bar-nav orange">
  <a class="icon icon-left-nav pull-left"></a>
  <h1 class="title">机票筛选</h1>
</header>
<div class="content grey" id="main_box">
  <div class="hotel_select">
    <div class="ho_se_right">
      <ul class="ho_list on">
        <li class="on"><span></span>不限</li>
        <li><span></span>重庆国际航空</li>
        <li><span></span>华夏航空</li>
        <li><span></span>西部航空</li>
        <li><span></span>重庆国际航空</li>
        <li><span></span>华夏航空</li>
        <li><span></span>西部航空</li>
      </ul>
      <ul class="ho_list">
        <li class="on"><span></span>不限</li>
        <li><span></span>06:00-12:00</li>
        <li><span></span>12:00-18:00</li>
        <li><span></span>18:00-24:00</li>
      </ul>
      <ul class="ho_list">
        <li class="on"><span></span>不限</li>
        <li><span></span>头等舱</li>
        <li><span></span>经济舱</li>
        <li><span></span>公务舱</li>
      </ul>
       <ul class="ho_list">
        <li class="on"><span></span>不限</li>
        <li><span></span>江北国际机场</li>
        <li><span></span>江北国际机场</li>
        <li><span></span>江北国际机场</li>
        <li><span></span>江北国际机场</li>
      </ul>
    </div>
  </div>
  <div class="ho_se_left">
      <ul class="left_chooze">
        <li class="hang on"><span></span>航空公司</li>
        <li class="qi"><span></span>起飞时间</li>
        <li class="cang"><span></span>舱位选择</li>
        <li class="ji"><span></span>降落机场</li>
      </ul>
    </div>
  <div class="bot_sure">
  <a href="plane_list.html" class="btn btn-orange btn2">完成</a><a  class="btn btn2 reset">重置</a>
  </div>
</div> 
</body>

</html>
